.comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.comment-form input,
.comment-form textarea {
  padding: 12px;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.comment-form button {
  background-color: #8E1616;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: #E8C999;
}
